* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.product-list {
  display: flex;
  padding: 30px 15px;
}
.row-one {
  width: 250px;
  height: 100vh;
  /* background-color: #eee; */
  padding: 0.5rem;
}
.row-tow {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.boxs {
  padding: 1rem;
  border-bottom: 1px solid;
}
.boxs header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
  transition: 0.3s ease-out;
}
.boxs header .up-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.boxs header .up-btn svg {
  transition: 0.3s linear;
  padding: 0.25rem;
}
section label {
  display: block;
  margin-bottom: 0.25rem;
  cursor: pointer;
}
section input[type='radio'] {
  margin-right: 0.5rem;
}
section input[type='text'] {
  background: #eee;
  border: 1px solid;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  padding: 1rem;
}
#mony {
  margin-left: 1rem;
}